In [315]:
import pandas as pd

# Replace the path with your actual full path
file_path = "/Users/rpaik4204/Desktop/qtm340project/FPL_tweets.csv"

# Load the CSV into a DataFrame
df = pd.read_csv(file_path)

# Preview the data
df.head()

,ID,Timestamp,User,Text,Hashtag,Retweets,Likes,Replies,Source,Location,Verified_Account,Followers,Following
0,2.855350e+17,2012-12-30 23:56:11+00:00,AmythLFC,I scored 75 points in Gameweek 20 on Fantasy P...,NaN,0,0,0,"<a href=""https://dev.twitter.com/docs/tfw"" rel...",NaN,False,559,812
1,2.855290e+17,2012-12-30 23:31:55+00:00,BenBoutwood,"110,525 have transferred Walcott into fantasy ...",NaN,0,0,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NaN,False,267,351
2,2.855270e+17,2012-12-30 23:24:56+00:00,ddreid88,I scored 61 points in Gameweek 20 on Fantasy P...,NaN,0,0,0,"<a href=""http://twitter.com/download/android"" ...",Essex,False,7,64
3,2.855270e+17,2012-12-30 23:23:26+00:00,ahmedkungora16,I scored 71 points in Gameweek 20 on Fantasy P...,NaN,0,0,0,"<a href=""https://dev.twitter.com/docs/tfw"" rel...",NaN,False,132,1100
4,2.855260e+17,2012-12-30 23:20:13+00:00,murray_rankin,My life's ambition is to one week be the highe...,"['fpl', 'aiminghigh']",0,0,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","Glasgow, Scotland",False,133,453

In [7]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /Users/rpaik4204/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rpaik4204/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/rpaik4204/nltk_data...

True

In [176]:
import re
import emoji
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

stop_words = set(stopwords.words("english"))
lemmatizer = WordNetLemmatizer()

def preprocess(text):
    text = str(text).lower()
    text = emoji.replace_emoji(text, replace='')                        # Remove emojis
    text = re.sub(r"http\S+|www.\S+", "", text)                         # Remove URLs
    text = re.sub(r"\S+@\S+", "", text)                                 # Remove emails
    text = re.sub(r"@\w+|#\w+", "", text)                               # Remove mentions/hashtags
    text = re.sub(r"[^\w\s]", "", text)                                 # Remove punctuation
    text = re.sub(r"\d+", "", text)                                     # Remove digits
    text = re.sub(r"\s+", " ", text).strip()                            # Clean whitespace
    tokens = word_tokenize(text)
    tokens = [lemmatizer.lemmatize(w) for w in tokens if w not in stop_words]
    return " ".join(tokens)

In [177]:
# Apply to 'Text' column
df["Clean_Text"] = df["Text"].apply(preprocess)

# Preview result
print(df[["Text", "Clean_Text"]].head())

                                                Text  \
0  I scored 75 points in Gameweek 20 on Fantasy P...
1  110,525 have transferred Walcott into fantasy ...
2  I scored 61 points in Gameweek 20 on Fantasy P...
3  I scored 71 points in Gameweek 20 on Fantasy P...
4  My life's ambition is to one week be the highe...

                                          Clean_Text
0       scored point gameweek fantasy premier league
1  transferred walcott fantasy premier league sho...
2       scored point gameweek fantasy premier league
3       scored point gameweek fantasy premier league
4  life ambition one week highest scorer fantasy ...

In [316]:
df_sorted = df.sort_values(by='Timestamp')
display(df_sorted.head())

,ID,Timestamp,User,Text,Hashtag,Retweets,Likes,Replies,Source,Location,Verified_Account,Followers,Following
9999,2.627060e+17,2012-10-29 00:03:32+00:00,achmadkonde,I scored 45 points in Gameweek 9 on Fantasy Pr...,NaN,0,0,0,"<a href=""https://dev.twitter.com/docs/tfw"" rel...",jogja,False,197,303
9998,2.627130e+17,2012-10-29 00:32:24+00:00,wahyusan666,I scored 23 points in Gameweek 9 on Fantasy Pr...,NaN,0,0,0,"<a href=""https://dev.twitter.com/docs/tfw"" rel...",Di Bumi Indonesia,False,186,375
9997,2.627150e+17,2012-10-29 00:36:34+00:00,jazlanhamsan,haish.. teruk point fantasy premier league min...,['APTB'],0,0,0,"<a href=""https://about.twitter.com/products/tw...","ÜT: 2.9805094,101.5665355",False,264,742
9996,2.627150e+17,2012-10-29 00:37:58+00:00,FadJmldn,Fantasy Premier League.,NaN,0,0,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",KL,False,245,295
9995,2.627200e+17,2012-10-29 00:56:39+00:00,11petratos,I scored 37 points in Gameweek 9 on Fantasy Pr...,NaN,0,0,0,"<a href=""https://dev.twitter.com/docs/tfw"" rel...","Cardiff, Wales",False,101,62

In [288]:
df_sorted['Timestamp'] = pd.to_datetime(df_sorted['Timestamp'], errors='coerce')

In [289]:
df_2022 = df_sorted[(df_sorted['Timestamp'] >= '2022-08-05') & (df_sorted['Timestamp'] <= '2023-05-28')].copy()

In [329]:
# Load the uploaded cleaned_players.csv file
players_path = '/Users/rpaik4204/Desktop/qtm340project/Fantasy-Premier-League-master/data/2022-23/cleaned_players.csv'

players_df = pd.read_csv(players_path)

# Combine first and second names into a single full name and normalize
import unicodedata

def normalize_name(name):
    if not isinstance(name, str):
        return ""
    name = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').decode('utf-8')
    return name.lower().replace('-', ' ').replace('*', '').strip()

# Create full name and normalize
players_df['full_name'] = players_df['first_name'] + ' ' + players_df['second_name']
players_df['full_name'] = players_df['full_name'].apply(normalize_name)

display(players_df)

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type,full_name
0,Granit,Xhaka,7,8,153,2992,35,673.3,647.0,498.0,15,634,182.0,13,0,4,2.7,48,MID,granit xhaka
1,Mohamed,Elneny,0,0,6,111,2,5.4,4.6,0.0,0,27,1.1,0,0,0,0.6,41,MID,mohamed elneny
2,Rob,Holding,1,0,21,562,13,10.3,152.0,54.0,0,120,21.6,0,0,0,0.2,42,DEF,rob holding
3,Thomas,Partey,3,0,86,2480,28,439.6,513.2,240.0,6,468,119.5,11,0,5,0.4,47,MID,thomas partey
4,Martin,Ødegaard,15,8,212,3132,38,1100.4,960.0,920.0,30,813,298.3,13,0,4,33.3,69,MID,martin degaard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,Matheus,Santos Carneiro Da Cunha,2,0,39,961,12,95.1,143.0,217.0,6,122,45.1,5,0,1,0.1,53,FWD,matheus santos carneiro da cunha
774,Mario,Lemina,0,1,35,1297,28,65.0,200.4,36.0,0,196,30.1,5,1,2,0.0,45,MID,mario lemina
775,Pablo,Sarabia,1,0,27,764,9,184.7,92.0,157.0,3,57,43.0,3,0,3,0.1,49,MID,pablo sarabia
776,Daniel,Bentley,0,0,6,180,3,0.0,70.2,0.0,0,45,7.0,0,0,0,0.0,40,GK,daniel bentley
777,João Victor,Gomes da Silva,1,0,21,649,18,72.0,133.0,46.0,2,84,24.9,2,0,5,0.0,45,MID,joao victor gomes da silva

In [335]:
matched = []

for player in players_df["full_name"]:
    mask = df_2022['Text'].str.contains(player, case=False, na=False)
    temp = df_2022[mask].copy()
    temp['full_name'] = player
    matched.append(temp)

df_matched = pd.concat(matched)

In [338]:
import pandas as pd
import os

# Path to your local gws folder
gws_path = '/Users/rpaik4204/Desktop/qtm340project/Fantasy-Premier-League-master/data/2022-23/gws'

# Combine all 38 gameweek files into one DataFrame
weekly_dfs = []
for i in range(1, 39):
    file_path = os.path.join(gws_path, f'gw{i}.csv')
    gw_df = pd.read_csv(file_path)
    gw_df['week'] = i  # Add a gameweek column
    weekly_dfs.append(gw_df)

# Concatenate all weeks
weekly_df = pd.concat(weekly_dfs, ignore_index=True)
weekly_df = weekly_df.sort_values(by='name').reset_index(drop=True)
# Preview
display(weekly_df)

/var/folders/t8/wgw3y8pn3xl40l0cxdlzw7qh0000gn/T/ipykernel_93542/1888751086.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  weekly_df = pd.concat(weekly_dfs, ignore_index=True)

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,week
0,Aaron Cresswell,DEF,West Ham,0.2,0,0,0,0,0.0,457,...,1,0.0,0,-4612,720,5332,47,True,0,27
1,Aaron Cresswell,DEF,West Ham,1.1,0,0,0,0,0.0,457,...,2,0.0,0,-33385,5180,38565,49,False,0,6
2,Aaron Cresswell,DEF,West Ham,1.2,0,0,15,0,10.4,457,...,1,5.0,2,-7347,4256,11603,48,False,0,20
3,Aaron Cresswell,DEF,West Ham,3.0,0,0,20,0,42.8,457,...,3,2.0,2,39911,49989,10078,48,True,0,10
4,Aaron Cresswell,DEF,West Ham,3.7,0,0,15,0,16.5,457,...,1,2.0,2,-5129,13737,18866,48,False,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26500,Çaglar Söyüncü,DEF,Leicester,-1.0,0,0,18,0,10.7,267,...,3,5.0,0,-89,69,158,42,False,1,31
26501,Çaglar Söyüncü,DEF,Leicester,0.0,0,0,0,0,0.0,267,...,5,0.0,0,-2192,1253,3445,43,False,0,6
26502,Çaglar Söyüncü,DEF,Leicester,0.7,0,0,9,0,0.7,267,...,1,6.0,2,420,563,143,42,False,0,33
26503,Çaglar Söyüncü,DEF,Leicester,-0.5,0,0,0,0,0.0,267,...,2,0.0,0,-6235,669,6904,44,False,0,4
26504,Çaglar Söyüncü,DEF,Leicester,0.4,0,0,14,0,0.4,267,...,2,25.0,2,223,360,137,42,True,0,32

In [319]:
import unicodedata

def remove_accents(name):
    if not isinstance(name, str):
        return name
    name = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').decode('utf-8')
    return name.lower().replace('-', ' ').strip()

In [339]:
weekly_df['name'] = weekly_df['name'].apply(remove_accents)
df_matched['full_name'] = df_matched['full_name'].apply(remove_accents)

In [341]:
import requests
import pandas as pd

# Get event data from FPL API
events = requests.get("https://fantasy.premierleague.com/api/bootstrap-static/").json()['events']
event_df = pd.DataFrame([{
    'week': e['id'],
    'deadline': pd.to_datetime(e['deadline_time'])
} for e in events if e['id'] <= 38])

# Add start and end ranges for each gameweek
event_df['start'] = event_df['deadline'].shift(1).fillna(pd.Timestamp('2022-07-01'))
event_df['end'] = event_df['deadline']

In [342]:
event_df['start'] = event_df['deadline'].shift(1).fillna(pd.Timestamp('2022-07-01'))
event_df['end'] = event_df['deadline'] + pd.Timedelta(days=1)  # Buffer to catch all tweets

In [343]:
event_df['start'] = pd.to_datetime(event_df['start'], errors='coerce').dt.tz_localize(None)
event_df['end'] = pd.to_datetime(event_df['end'], errors='coerce').dt.tz_localize(None)

In [344]:
def assign_gameweek(ts):
    for _, row in event_df.iterrows():
        if row['start'] <= ts < row['end']:
            return row['week']
    return None

In [345]:
fixtures_df = pd.read_csv('/Users/rpaik4204/Desktop/qtm340project/Fantasy-Premier-League-master/data/2022-23/fixtures.csv')

# Convert kickoff_time to datetime
fixtures_df['kickoff_time'] = pd.to_datetime(fixtures_df['kickoff_time'], errors='coerce')

# Group by event (gameweek number) and find latest kickoff time for each
gw_calendar = fixtures_df.groupby('event')['kickoff_time'].max().reset_index()
gw_calendar = gw_calendar.rename(columns={'event': 'week', 'kickoff_time': 'end'})

# Define start as 7 days before the end (approximate gameweek window)
gw_calendar['start'] = gw_calendar['end'] - pd.Timedelta(days=7)

# Ensure timestamps are timezone-naive for safe comparison later
gw_calendar['start'] = gw_calendar['start'].dt.tz_localize(None)
gw_calendar['end'] = gw_calendar['end'].dt.tz_localize(None)

In [347]:
# Step 1: Make sure timestamps are clean
df_matched['Timestamp'] = pd.to_datetime(df_matched['Timestamp'], errors='coerce').dt.tz_localize(None)

# Step 2: Assign gameweek using the gameweek calendar we built earlier
def assign_fpl_week(ts):
    for _, row in gw_calendar.iterrows():
        if row['start'] <= ts < row['end']:
            return row['week']
    return None

df_matched['week'] = df_matched['Timestamp'].apply(assign_fpl_week)
df_matched = df_matched[df_matched['week'].notna()].copy()
df_matched['week'] = df_matched['week'].astype(int)

# Step 3: Group tweets into player-week blobs
df_blobs = (
    df_matched.groupby(['full_name', 'week'])
    .agg({
        'Clean_Text': lambda x: ' '.join(x),
        'Timestamp': 'min'  # First tweet of the blob (can be used for sorting)
    })
    .reset_index()
)

In [348]:
df_blobs

,full_name,week,Clean_Text,Timestamp
0,aaron cresswell,2,fantasy premier league gw differential aaron c...,2022-08-10 09:30:05
1,aaron cresswell,15,fantasy premier league tip gameweek kevin de b...,2022-11-04 07:06:04
2,aleksandar mitrovic,1,ikumbukwe aleksandar mitrovic kazifunga big pr...,2022-08-06 12:30:33
3,aleksandar mitrovic,2,fantasy premier league gameweek reaction aleks...,2022-08-09 13:01:07
4,aleksandar mitrovic,6,premier league fantasy pick aleksandar mitrovi...,2022-09-02 08:09:48
...,...,...,...,...
293,william saliba,29,mikel arteta provides update william saliba wi...,2023-03-31 13:05:35
294,wout faes,14,wout fae singlehandedly transformed leicester ...,2022-10-25 15:38:02
295,wout faes,18,wout fae tripple captain fantasy premier league,2022-12-30 20:56:29
296,wout weghorst,19,much wout weghorsts price fantasy premier league,2023-01-12 17:47:02
297,wout weghorst,20,new manchester united forward wout weghorst pr...,2023-01-16 16:25:21

In [351]:
from transformers import pipeline

# Load sentiment classifier (BERT-based)
classifier = pipeline("sentiment-analysis", model="nlptown/bert-base-multilingual-uncased-sentiment")

# Classify each player-week blob
def classify_sentiment(text):
    try:
        return classifier(text[:512])[0]['label']
    except:
        return '3 stars'

df_blobs['BERT_Sentiment'] = df_blobs['Clean_Text'].apply(classify_sentiment)

# Map star labels to numeric scores
star_map = {'1 star': 1, '2 stars': 2, '3 stars': 3, '4 stars': 4, '5 stars': 5}
df_blobs['BERT_Score'] = df_blobs['BERT_Sentiment'].map(star_map)

# Scale between -1 and 1
df_blobs['Sentiment_Scaled'] = (df_blobs['BERT_Score'] - 3) / 2

# Preview
display(df_blobs[['full_name', 'week', 'BERT_Sentiment', 'Sentiment_Scaled']])

Device set to use mps:0

               full_name  week BERT_Sentiment  Sentiment_Scaled
0        aaron cresswell     2        4 stars               0.5
1        aaron cresswell    15        3 stars               0.0
2    aleksandar mitrovic     1         1 star              -1.0
3    aleksandar mitrovic     2        5 stars               1.0
4    aleksandar mitrovic     6        4 stars               0.5
..                   ...   ...            ...               ...
293       william saliba    29        3 stars               0.0
294            wout faes    14        5 stars               1.0
295            wout faes    18        5 stars               1.0
296        wout weghorst    19        4 stars               0.5
297        wout weghorst    20        3 stars               0.0

[298 rows x 4 columns]

In [356]:
import unicodedata

def normalize_name(name):
    if not isinstance(name, str):
        return ""
    name = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').decode('utf-8')
    return name.lower().replace('-', ' ').replace('*', '').strip()

df_blobs['full_name'] = df_blobs['full_name'].apply(normalize_name)
weekly_df['name'] = weekly_df['name'].apply(normalize_name)

In [367]:
df_blobs = df_blobs.rename(columns={'full_name': 'name'})

merged_df = pd.merge(df_blobs, weekly_df, on=['name', 'week'], how='inner')
display(merged_df.head())

,name,week,Clean_Text,Timestamp,BERT_Sentiment,BERT_Score,Sentiment_Scaled,position,team,xP,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,aaron cresswell,2,fantasy premier league gw differential aaron c...,2022-08-10 09:30:05,4 stars,4,0.5,DEF,West Ham,2.0,...,0,1,1.0,2,21509,45044,23535,50,False,0
1,aaron cresswell,15,fantasy premier league tip gameweek kevin de b...,2022-11-04 07:06:04,3 stars,3,0.0,DEF,West Ham,3.2,...,2,1,0.0,1,22193,33820,11627,48,True,0
2,aleksandar mitrovic,1,ikumbukwe aleksandar mitrovic kazifunga big pr...,2022-08-06 12:30:33,1 star,1,-1.0,FWD,Fulham,0.6,...,2,2,58.0,13,0,0,0,65,True,0
3,aleksandar mitrovic,2,fantasy premier league gameweek reaction aleks...,2022-08-09 13:01:07,5 stars,5,1.0,FWD,Fulham,5.5,...,0,0,34.0,-1,559309,612051,52742,66,False,1
4,aleksandar mitrovic,6,premier league fantasy pick aleksandar mitrovi...,2022-09-02 08:09:48,4 stars,4,0.5,FWD,Fulham,4.2,...,1,2,43.0,5,353916,489785,135869,68,False,1